@tailwind base;
@tailwind components;
@tailwind utilities;

.capitalize-first::first-letter {
    text-transform: uppercase;
}

.scr::-webkit-scrollbar {
    display: none;
}

.scr {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}